#welcome_logo {
    width: 75%;
}

@media screen and (min-width: 980px) {
    #about_us_logo_top {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    #about_us_logo_top {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -3%;
        width: 30%;
        padding-top: 5%;
    }
    #about_us_logo_right {
        display: none;
    }
}
